@import "tailwindcss";

:root {
  --background: #f6faff;
  --foreground: #f6faff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f6faff;
    --foreground: #f6faff;
    --primary: #0076bbe6;
  }
}

@layer base {
  .nav-bar {
    @apply fixed flex items-center justify-between px-20 py-5 w-full; 
  }

  .nav-links-container {
    @apply flex items-center space-x-10;
  }

  .nav-link {
    @apply text-[18px] hover:text-[#0076bbe6];
  }

  .join-button {
    @apply px-4 py-2 rounded-md border-2 border-[#0076bbe6] hover:bg-[#0076bbe6] transition-all duration-300 ease-in-out;
  }
}

@font-face {
  font-family: 'Zodiak';
  src: url('/fonts/Zodiak-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Satoshi', 'Zodiak', sans-serif;
}

h1 {
  font-family: 'Zodiak', sans-serif;
}

h2 {
  font-family: 'Zodiak', sans-serif;
}

h3 {
  font-family: 'Zodiak', sans-serif;
}
